<!DOCTYPE html>
<html>
<head>
<! Site projet Python>
<meta charset="utf-8" />
<link rel="stylesheet" href="static\css\visite.css" />
<title> Descriptif Cours</title>
</head>

  <body>  
           <fieldset>  
		<div id= "block-page">
			  <header>
			     <div id="tete_image">
			
                <div id="tete_description">
			    
                     <img src="static/img/topimage.jpg" alt="" /></a>
                  </div>
			     </div>
			  
			</header>
			
			
	    <nav id="choix">
		     
                 <!fieldset> 
				
				  <input type="button" value="      Accueil      " onclick="window.location='visite.html'"> 
				  <input type="button" value="  Adminitration  " onclick="window.location='administration.html'">
				  <input type="button" value="   Professeur    " onclick="window.location='professeur.html'">
				 <input type="button" value="   Code Cours   " onclick="window.location='code_cours.html'"> 
				 <input type="button" value="    Titre cours    " onclick="window.location='titre_cours.html'"> 
				  <input type="button" value="Descriptif cours " onclick="window.location='descriptif_cours.html'">
				  <input type="button" value="       Contact     " onclick="window.location='contact.html'"> 
              <!/fieldset> 
                  
		</nav>
		
		<article>           
                     <fieldset>
					        <form method="post" action="traitement.php">
							
							 <label for="Code cours"></label> Code cours
                                      <select name="Code cours" id="Code cours" >
                                        <option value="Code cours">>>>>>>>>>>>>>>>>>>>>>>>></option>
										<option value="Code cours">***</option>
										<option value="Code cours">:::</option>
										<option value="Code cours">))))</option>
										<option value="Code cours">((((</option>

                                        </select>
										
					            <label for="type cours"></label> Type cours
                                      <select name="Type cours" id="Type cours" >
                                        <option value="Type cours">>>>>>>>>>>>>>>>>>>>>>>>></option>
										<option value="Type cours">***</option>
										<option value="Type cours">:::</option>
										<option value="Type cours">))))</option>
										<option value="Type cours">((((</option>

                                        </select>
										
										<br />
						  <br><label for="Credits- ECTS" >Credits- ECTS </label>
                                  <input type="text" name="Credits- ECTS" id="Credits- ECTS" placeholder="Credits-ECTS" size="30" maxlength="50" required />
                                <label for="Lieu-Enseignement">Lieu-Enseignement </label>
                                  <input type="text" name="Lieu-Enseignement" id="prenom"placeholder="lieu-Enseignement" size="30" maxlength="50" required /></br>
								<br><label for="Public Cible" >Public Cible</label>
                                  <input type="text" name="Public Cible" id="Public Cible" placeholder="Public cible" size="30" maxlength="50" required />
                                <label for="format">Format </label>
                                  <input type="text" name="format" id="prenom"placeholder="format" size="30" maxlength="50" required /></br>
								<label for="Ressources">Ressources </label>
                                  <input type="text" name="Ressources" id="prenom"placeholder="Ressources" size="30" maxlength="50" required />
								
								 <br><label for="Evaluation">Evaluation</label><br />
                                           <textarea name="Evaluation" id="Evaluation" rows="5" cols="50"required>></textarea>
								<br><input type="reset"  value="Recommencer" />
								<input type="submit" value="Envoyer" /></br>
								  
								
                       
				      </fieldset>  
						
		</article>
		
		<section> 
		        <fieldset>
		             <form method="post" action="traitement.php">
            <p>
                <label for="pseudo"> Username :</label>
                      <input type="text" name="pseudo" id="pseudo" />
                 <br />
                <label for="pass"> Password :</label>
                       <input type="password" name="pass" id="pass" />
				<input type="submit" value="sign in" />
				<input type="submit" value="sign up" />
            </p>
			
               </fieldset>
			   
			     
			      <p align="right">
			     <img src="static/img/facebook.png" alt="Facebook"/>
				 <img src="static/img/twitter.png" alt="Twitter" />
				 <img src="static/img/vimeo.png" alt="Vimeo" />
				 <img src="static/img/flickr.png" alt="FLickr" />
				 <img src="static/img/rss.png" alt="RSS" />
		    </p>
			   
    </form>
		</section>
		
		
		
		
		
		 <div id= "pub">
		</div> 
			  <br>
      <aside>
	  
	  
	  <footer>
			     <p>Developper par: Remarais Georges d.k<br />
			                        Constant  Jacquelain <br />
			          Copyright (okk) - Tous droits réservés<br />
               <a href="contact.html"> Nous contacter !</a></p>			 
							  
			  </footer>
	    </div>
    </fieldset>
  </body>
</html
