<!DOCTYPE html>
<html>
<head>
<! Site projet Python>
<meta charset="utf-8" />
<link rel="stylesheet" href="static\css\visite.css" />
<title> Professeurs </title>
</head>

  <body>  
           <fieldset>  
		<div id= "block-page">
			  <header>
			     <div id="tete_image">
			
                <div id="tete_description">
			     
                  <img src="static/img/topimage.jpg" alt="" /></a>
                  </div>
			     </div>
			  
			</header>
			
			
	     <nav id="choix">
		     
                 <!fieldset> 
				
				  <input type="button" value="      Accueil      " onclick="window.location='visite.html'"> 
				  <input type="button" value="  Adminitration  " onclick="window.location='administration.html'">
				  <input type="button" value="   Professeur    " onclick="window.location='professeur.html'">
				 <input type="button" value="   Code Cours   " onclick="window.location='code_cours.html'"> 
				 <input type="button" value="    Titre cours    " onclick="window.location='titre_cours.html'"> 
				  <input type="button" value="Descriptif cours " onclick="window.location='descriptif_cours.html'">
				  <input type="button" value="       Contact     " onclick="window.location='contact.html'"> 
              <!/fieldset> 
                  
		</nav>
		
		<article>           
                     <fieldset>
					 
					 <p> Cette espace est reserve au professeurs afin d'ecrire tous les </br>
					 informations exigees par l'administration de l'ecole</p>
                       <form method="get" action="traitement.php">
                           
                                  <label for="nom" >Nom </label>
                                  <input type="text" name="nom" id="nom" placeholder="Name" size="25" maxlength="10" autofocus />
                                 
								 <label for="prenom">Prénom </label>
                                  <input type="text" name="prenom" id="prenom" placeholder="Prenom" size="28" maxlength="10" required />
                                 
								 <br> <label for="date_de_naissance" >Date de naissance </label>
                                  <input type="date" name="date_de_naissance" id="date_de_naissance" placeholder="00/00/00" size="30" maxlength="10"/>

								   <label for="Sex" >Sexe  </label>
                                  <input type="checkbox" name="male" id="male" /> <label
                                     for="Male">M</label>
                                 <input type="checkbox" name="femme" id="femme" /> <label
                                     for="femme">F</label>
									 
								  </br>
			                      
								  <label for="telephone" >Telephone</label>
								  <input type="tel" name="telephone" id="telephone" size="30" maxlength="10" />
								  
								  <label for="NIF" >NIF </label>
								  <input type="text" name="NIF" id="NIF"  size="30" maxlength="10" required />
					             
								 <br><label for="email" >Email </label>
                                  <input type="email" name="email" id="email" placeholder="email" size="30" maxlength="50"required/></br>
                                   
								   <label for="Niveau">Niveau d'etude</label><br />
                                             <select name="niveau" id="niveau">
                                                 <option value="Licence">Licence</option>
                                                <option value="Master">Master</option>
                                                <option value="Doctorat">Doctorat</option>
                                             </select>
 
                                       <br> <label for="Aptitude">Aptitude</label></br>
                                           <textarea name="Aptitude" id="Aptitude" rows="2" cols="50" required>></textarea>
                                  <br><label for="Evaluation">Evaluation</label><br />
                                           <textarea name="Evaluation" id="Evaluation" rows="10" cols="50"required>></textarea>
								<br><input type="reset"  value="Recommencer" />
								<input type="submit" value="Envoyer" /></br>
                           </form>
						
				      </fieldset>  
						
		</article>
		
		<section> 
		        
			   
			      <p align="right">
			     <img src="static/img/facebook.png" alt="Facebook"/>
				 <img src="static/img/twitter.png" alt="Twitter" />
				 <img src="static/img/vimeo.png" alt="Vimeo" />
				 <img src="static/img/flickr.png" alt="FLickr" />
				 <img src="static/img/rss.png" alt="RSS" />
		    </p>
			   
    </form>
		</section>
		
		
		
		
		
		 <div id= "pub">
		</div> 
			  <br>
      <aside>
	  
	  
	  
			  
			  <footer>
			     <p>Developper par: Remarais Georges d.k<br />
			                        Constant  Jacquelain <br />
			          Copyright () - Tous droits réservés<br />
               <a href="contact.html"> Nous contacter !</a></p>			 
							  
			  </footer>
	    </div>
    </fieldset>
  </body>
</html
