<!DOCTYPE html>
<html>
 {% load staticfiles %}
<head>
<! Site projet Python>
<meta charset="utf-8" />
<link rel="stylesheet"  href="{% static 'css/visite.css' %}" />
<script
src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

<title> Acceuil_Admin </title>
</head>

  <body>  
           <fieldset>  
		<div id= "block-page">
			  <header>
			     <div id="tete_image">
                    <img src="static\img\topimage.jpg" alt="" /></a>
			     </div>
				
			</header>
			
			
	    <nav id="choix">
		     
                <!fieldset> 
				
				  <input type="button" value="      Accueil      " onclick="window.location='visite.html'"> 
				  <input type="button" value="  Adminitration  " onclick="window.location='administration.html'">
				  <input type="button" value="   Professeur    " onclick="window.location='professeur.html'">
				 <input type="button" value="   Code Cours   " onclick="window.location='code_cours.html'"> 
				 <input type="button" value="    Titre cours    " onclick="window.location='titre_cours.html'"> 
				  <input type="button" value="Descriptif cours " onclick="window.location='descriptif_cours.html'">
				  <input type="button" value="       Contact     " onclick="window.location='contact.html'"> 
              <!/fieldset> 
                  
		</nav>
		
		<article>           
                     <!fieldset>
                       <!form method="post" action="traitement.php">
                                       
                                  <label for="Ecole"></label>   Choisissez une ecole<br />
                                        <select name="Ecole" id="Ecole">
                                        <option value="ecole">Ecole Superieure d'infotronique d'Haiti</option>
										<option value="ecole">***</option>
										<option value="ecole">:::</option>
										<option value="ecole">))))</option>
										<option value="ecole">((((</option>

                                        </select>
									     <p align="right">
										 blablabla   <br />
										 blablabla   <br />
										 blablabla   <br/>
										 blablabla   <br />
								         </p>
								
						  <!/form>
				      <!/fieldset>  
						
		</article>
		
		<section> 
		        <fieldset>
		             <form method="post" action="traitement.php">
            <p>
                <label for="pseudo"> Username :</label>
                      <input type="text" name="pseudo" id="pseudo" />
                 <br />
                <label for="pass"> Password :</label>
                       <input type="password" name="pass" id="pass" />
				<input type="submit" value="sign in" />
				<input type="submit" value="sign up" />
            </p>
			
               <fieldset/>
			   
			      <p align="right">
			     <img src="static/img/facebook.png" alt="Facebook"/>
				 <img src="static/img/twitter.png" alt="Twitter" />
				 <img src="static/img/vimeo.png" alt="Vimeo" />
				 <img src="static/img/flickr.png" alt="FLickr" />
				 <img src="static/img/rss.png" alt="RSS" />
		    </p>
			   
    </form>
		<section>
		
		
		
		
	      <aside>
	  
	  
	  
			  
			  <footer>
			     <p>Developper par: Remarais Georges <br />
			                        Constant  Jacquelain       <br/>      Copyright (509) - Tous droits réservés<br />
               <a href="contact.html"> Nous contacter !</a></p>			 
							  
			  </footer>
	    <div/>
    <fieldset/>
  <body/>
<html/>
